.left {
    width: 60%;
    height: 600px;
    float: left;
    margin-left: 4%;
    border: 2px solid #261b1b;
}

.right {width: 33%;float: left;height: auto;border: 2px solid;margin-bottom: 1%;margin-left: 1%;}

footer#footer {
    clear: both;
}.left img {
    width: 250px;
    height: 250px;
}